{% block nav %}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('trackpage') }}">Track Events</a></li>
            <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('fieldpage') }}">Field Events</a></li>
            <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('datapage') }}">Data</a></li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </div>
      </nav>
  {% endblock %}